*.edges
*_out/
bins/
data/
*_logs/
embeddings/
graphs/
*.ckpt
.vscode/
venv/
*.tsv
*.csv
*.html
*.txt
*.gfa
*.pkl
dist/
build/
.eggs/
results/
*.out
*.png
*.sbatch
*.pyc
PKG-INFO
mlruns/
src/graphmb/unused/*
src/graphmb/__pycache__/
*.log

